*{

margin:0;
padding:0px;
padding-right:0px;
padding-left:0px;
font-family: 'Andika', sans-serif;


}
body, .container-fluid, .row, .col-xs-12{
    margin:0;
    padding:0px;
    padding-right:0px;
    padding-left:0px; 
    margin-top: 0px;  
    margin-right:0px;
    position: relative;
}
#header{
    height:70vh;
    background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0px;
    margin:0;
    position: relative;
    
}
.navlogo{
    width:10%;
    height: 10%;
    display:inline;
    /* font:andika r */
}
#profilepage{
    
    
}
#profileimage{
    height: 200px;
    width: 200px;
    padding: 5px;
    text-align: center; 
    border-radius: 50%;
    display: inline-block;
    
   

}
.profilecontent{
    background:#41A9A2;
    bottom:20%;
    margin-left:12%;
    width:80%;
    /* opacity:.6; */
    color:white;
    height:40vh;
    padding-top:15%;
    margin-top:-10%;
    border-radius:3%;
}
.logo{
    position: absolute;
    right:2%;
    top:25%;
    width: 100%;
    height: auto;
    
   
}
img{
    margin-top:0;
}
nav{
    margin:0;
    padding:0px;
    height:10vh; 
    background:white; 
    background-attachment: fixed;
    margin-bottom:2%;
}
nav ul{
    padding:2%;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin-left:2%;
}
nav #bodynav{
    float:right;
    
}
nav #brand{
    float:left;
    font-size:150%;
    margin-bottom:3px;
    
}
.navoptions{
    position: absolute;
    left:21%;
    top:10%;
    color:black;
}
.navoptions a, .navoptions a:hover{
    color:black;
}
a, a:hover{
    color:#41A9A2;
}
.aboutus{
    height:70vh;
}
.wrap{
    padding:4%;
    margin-top:50%;
    padding-top:10%;
    border:2px dotted #41A9A2;
}
.footer{
    height:30vh;
    color:white;
    background:#41A9A2;
    padding-top:2%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.card{
    margin-bottom:3%;
    
}
.card-header, #cardbutton{
    background: #41A9A2;
    color:white;
}
 .formsprofile form{
    display: inline-block;
    color:pink;
}
#neighbourimage{
    height: 200px;
    width: 200px;
    padding: 5px;
    text-align: center; 
    border-radius: 50%;
    position: relative;
    left:33%;
    display: inline-block;
}