{% extends 'watch/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{% block styles %}
{% bootstrap_css%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="header">
                
                <img src="static/photos/finalcommune.png" class="img-repsonsive logo" alt="commnune logo">
            </div>
            <div class="navoptions">
                <h3>  <a href="{% url 'view_messages' %}">See Neighbourhood alerts</a> | <a href="#">View Neighbours</a> |   <a href="{% url 'view_businesses'%}">View Neighbourhood Businesses</a> </h3>
            </div>
        </div>
    </div>
</div>


{% endblock %}

