<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
      
              <nav>
                <ul>
                  <li id="brand"><a href="{% url 'landingpage'%}">Commune | Neighbourhood Watch</a></li>
                  <!-- <li id="brand"><a href=""><img src="static/photos/finalcommune.png" class="img-repsonsive navlogo" alt="commnune logo"></a></li> -->
                  <li id="bodynav"><a href="{% url 'view_profile'%}">{{user.username}}</a></li>
                  <li id="bodynav"><a href="{% url 'view_businesses'%}">Businesses</a></li>
                  <li id="bodynav"><a href="{% url 'view_messages'%}">Alerts</a></li>
                  <li id="bodynav"><a href="{% url 'landingpage'%}">Home</a></li>

                </ul>
              </nav>
</body>
</html>