*{

margin:0;
padding:0px;
padding-right:0px;
padding-left:0px;
width: 224vh;

}
body, .container-fluid, .row, .col-md-12{
    margin:0;
    padding:0px;
    padding-right:0px;
    padding-left:0px; 
    margin-top: -7px;  
    margin-right: -16px;
}
#header{
    height:70vh;
    background:lightblue;
    padding:0px;
    margin:0;
    
}
.tagline{
    position: relative;
    top:30%;
    left:28%;
}

.logo{
    position: absolute;;
    right:5%;
    top:25%;
    width: 100%;
    height: auto;
}
img{
    margin-top:0;
}
.navbar{
    margin:0;
    padding:0px;  
}
.navoptions{
    position: relative;
    left:20%;
    top:30%;
    color:#41A9A2;
}