*{
overflow-x: hidden;
margin:0;
padding:0px;
padding-right:0px;
padding-left:0px;
}
body, .container-fluid, .row, .col-md-12{
    margin:0;
    padding:0px;
    padding-right:0px;
    padding-left:0px;   
}
#header{
    height:100vh;
    background:ghostwhite;
}
.tagline{
    position: absolute;
    left:35%;
    bottom:12%;
}
img{
    margin-top:0;
}
.navbar{
    margin:0;
    padding:0px;  
}