*{

margin:0;
padding:0px;
padding-right:0px;
padding-left:0px;


}
body, .container-fluid, .row, .col-md-12{
    margin:0;
    padding:0px;
    padding-right:0px;
    padding-left:0px; 
    margin-top: 0px;  
    margin-right:0px;
    position: relative;
}
#header{
    height:70vh;
    background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0px;
    margin:0;
    position: relative;
    
}
.navlogo{
    width:10%;
    height: 10%;
    display:inline;
    /* font:andika r */
}

.logo{
    position: absolute;
    right:5%;
    top:25%;
    width: 100%;
    height: auto;
}
img{
    margin-top:0;
}
nav{
    margin:0;
    padding:0px;
    height:10vh; 
    background:white; 
}
nav ul{
    padding:2%;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin-left:2%;
}
nav #bodynav{
    float:right;
    
}
nav #brand{
    float:left;
    font-size:150%;
    margin-bottom:3px;
    
}
.navoptions{
    position: absolute;
    left:21%;
    top:135%;
    color:#41A9A2;
}
a, a:hover{
    color:#41A9A2;
}