{% extends 'views/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css%}
<link rel="stylesheet" href="static/css/base.css">
{% endblock %}
{% block content %}

{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
                <h3>{{hood}} Alerts</h3>
                <hr>
        </div>
    </div>
</div>

{% for message in messages %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                
        <div class="card">
                <div class="card-header">
                   <a style="color:white;"href="{% url 'business_profile' id=message.profile.id %}">{{message.profile.name}}</a>  says:
                </div>
                <div class="card-body">
                    <p class="card-text">{{message.message}}</p>
                    <p>{{message.posted}}</p>
                    <a id="cardbutton" href="#" class="btn btn-primary">Comment</a>
                </div>
                </div>
</div>
    </div>
</div>


{%endfor%}
{% else %}
<p>No message has been posted in {{hood}}</p>
   </a>
</p>
{% endif %}
  
{% endblock %}